[submodule "GameSaveInfo"]
	path = GameSaveInfo
	url = ../Lib.CSharp.git
[submodule "MVC.WPF"]
	path = MVC.WPF
	url = ../../sanmadjack/MVC.WPF.CSharp.git
[submodule "MVC"]
	path = MVC
	url = ../../sanmadjack/MVC.CSharp.git
[submodule "XmlData"]
	path = XmlData
	url = ../../sanmadjack/XmlData.CSharp.git
[submodule "Email.WPF"]
	path = Email.WPF
	url = ../../sanmadjack/Email.WPF.CSharp.git
[submodule "Email"]
	path = Email
	url = ../../sanmadjack/Email.CSharp.git
[submodule "Translator"]
	path = Translator
	url = ../../sanmadjack/Translator.CSharp.git
[submodule "Translator.WPF"]
	path = Translator.WPF
	url = ../../sanmadjack/Translator.WPF.CSharp.git
[submodule "MVC.Translator"]
	path = MVC.Translator
	url = ../../sanmadjack/MVC.Translator.CSharp.git
[submodule "WPF"]
	path = WPF
	url = ../../sanmadjack/WPF.CSharp.git
[submodule "Logger"]
	path = Logger
	url = ../../sanmadjack/Logger.CSharp.git
[submodule "TheConverter/Data"]
	path = TheConverter/Data
	url = ../Data.git
